<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>New York</string>
		<key>song</key>
		<string></string>
		<key>latitude</key>
		<real>40.7128</real>
		<key>longitude</key>
		<real>-74.0059</real>
		<key>radius</key>
		<string>100</string>
	</dict>
	<dict>
		<key>title</key>
		<string>San Francisco</string>
		<key>song</key>
		<string></string>
		<key>latitude</key>
		<real>37.7749</real>
		<key>longitude</key>
		<real>-122.4194</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Los Angeles</string>
		<key>song</key>
		<string></string>
		<key>latitude</key>
		<real>37.25</real>
		<key>longitude</key>
		<real>-118.2437</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Berkeley</string>
		<key>song</key>
		<string></string>
		<key>latitude</key>
		<real>37.8716</real>
		<key>longitude</key>
		<real>-122.2727</real>
		<key>radius</key>
		<integer>500</integer>
	</dict>
</array>
</plist>
